<!--
<ul class="heroes">
  <li *ngFor="let hero of transactions">
    <a routerLink="{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.description}}
    </a>
  </li>
</ul> -->
<div (click)="groupByFilter = 'time'">By Transaction</div>
<div (click)="groupByFilter = 'categoryId'">By Category</div>
<div *ngFor="let item of transactions | groupBy:groupByFilter">
 <div >{{getHeader(item.key,item.value)}}</div>
  <ul class="heroes">
    <li *ngFor="let hero of item.value">
      <a routerLink="{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.description}}
      </a>
    </li>
  </ul>
</div>
